.option-container
{
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    padding:20px;
}

.selected a
{
	border:3px solid green;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active 
{
border-color: green !important;
}

.order-summary
{
	padding: 15px;
border: 1px solid #ddd;
margin-bottom: 30px;
}

.checkout-container
{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.checkout-column-left
{ 
	float: left; 
	width: 33%; 

}
.checkout-column-right
{ 
	float: right; 
	width: 33%; 
}
.checkout-column-center
{ 
	display: inline-block; 
	width: 33%; 

}

#checkout-fixedbutton {
    position: absolute;
    bottom: 0px;
    right: 0px; 
}